# Application Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
# Host 'localhost' for local development, 'postgres' for docker-compose environment
DB_HOST=localhost
DB_PORT=5431
DB_USER=postgres
DB_PASSWORD=saarc
DB_NAME=tenant_db

DOCKER_DB_HOST=postgres
DOCKER_DB_PORT=5432

# JWT Configuration
JWT_SECRET=production_ready_jwt_access_secret_key_change_me
JWT_REFRESH_SECRET=production_ready_jwt_refresh_secret_key_change_me

# Redis Configuration
# Host 'localhost' for local development, 'redis' for docker-compose environment
REDIS_HOST=localhost
REDIS_PORT=6379
